# ---- R / RStudio ----
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rprofile

# ---- renv (keep renv.lock, ignore heavy folders) ----
renv/library/
renv/staging/
renv/python/

# ---- Build/check outputs ----
*.tar.gz
*.Rcheck/
.Rbuildignore

# ---- Project outputs / dev artifacts ----
figs_sim/

# ---- OS / editor junk ----
.DS_Store
Thumbs.db
*.bak
*~




